{% extends "footprints/base.html" %}

{% block title %}TOP{% endblock %}
{% block head %}
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />

<!-- pythxsh.geek.jp -->
<!-- <script src="http://www.google.com/jsapi?key=ABQIAAAA72fdLFPSePsFA0UZlx_TERRhvSFhavBuAieK5eZYb8uCjVY7ZBRmDBPSGErGrPKKiitVNcnkec341A"> </script> -->
<!-- localhost -->
<script src="http://www.google.com/jsapi?key=ABQIAAAA72fdLFPSePsFA0UZlx_TERT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRtKOtuxU_sMTBLwmV8mUUFXX4DbA"> </script>
<script type="text/javascript" src="/media/ge_control.js"></script>
<link rel="stylesheet" type="text/css" href="/media/footprints.css">
{% endblock %}

{% block body %}
<div id="wrap">
<div id="header">
  <h2 id="title">Footprints</h2>
  <div id="welcome">ようこそ、{{ user.username }}！</div>
  <div class="clear"><hr /></div>
</div>
<div id="inner">
  <div id="GoogleEarth">
    <div id="map3d"></div>
    <div id="ge_UI"></div>
  </div>
  <div id="UHlist">
    <table border="1">
      <tr>
	<td>機器種別</td>
	<td>利用種別</td>
	<td>支払い種別</td>
	<td>入出場種別</td>
	<td>処理日付</td>
	<td>残高</td>
      </tr>
      {% for uh in history %}
      <tr id="UH_{{ uh.pk }}" bgcolor="#365178" onmouseover="style.background='#3577E8'" onmouseout="style.background='#365178'" onclick="onUHClick({{ uh.pk }})">
	<td>{{ uh.get_equipment_display }}</td>
	<td>{{ uh.get_usage_display }}</td>
	<td>{{ uh.get_payment_display }}</td>
	<td>{{ uh.get_enter_display }}</td>
	<td>{{ uh.date }}</td>
	<td>{{ uh.balance }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="clear"><hr /></div>
</div>
<div id="footer"></div>
</div>
{% endblock %}

