body {
    background-color: #000000;
    color: #FFFFFF;
}

#wrap {
    margin: 0 auto;
}

#header {
    height: 8%;
}
#title {
    margin-top: 0;
    float: left;
}
#login_mes {
    margin-right: 2%;
    padding-top: 1%;
    float: right;
    color: #FF0000;
}
#username {
    font-weight: bold;
}

#footer {}

#inner {
    margin: 0 1%;
    height: 90%;
}

#UHlist {
    width: 38%;
    float: right
}

#GoogleEarth {
    width: 58%;
    float: left;
    background-color: #2756D1;
    padding: 1% 1% 0;
}
#map3d {
    height: 80%; 
}
#ge_UI { 
    height: 20%; 
}


.clear { clear:both; }
.clear hr { display:none; }