/* ref (css frame): http://phpspot.org/blog/archives/2006/09/css_9.html */
html, body { 
   margin: 0;
   padding: 0;
   text-align: center;
   height: 100%;
}

html>body #all-wrap {
   height: 100%;
}
#all-wrap {
   width: 100%;
}
#header {
   margin: 0 auto;
   height: 5em;
   background-color: brown;
   width: 100%;
}
html>body #header {
   position: fixed;
   z-index: 10;
}
#header-inner{
   width: 90%;
   margin: 0 auto;
}
#title {
   float: left;
   color: white;
}
#topnavi{
   float: left;
   text-align: center;
   margin: 1em 2em 0;
   width: 460px;
}
#topnavi ul, #topnavi li{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#topnavi a{
   display: block;
   padding: 0.5em 0;
   width: 100%;
   background-color: brown;
}
#topnavi a:hover{
   background-color: #777777;
}
#topnavi li{
   position: relative;
   float: left;
   width: 110px;
   margin: 0 0px;
   padding: 0;
   border: 1px solid #6A8AD3;
}
#topnavi li ul{
   visibility: hidden;
   position: absolute;
   left: -2px;
   border: 1px solid #6A8AD3;
}
#topnavi li:hover ul{
   visibility: visible;
}

#accountnavi{
/*   bottom: 0;*/
/*   height: 40px;*/
   font-size: 0.8em;
   margin: 1em auto 0;
}
#accountnavi a{
   font-weight: bold;
}
#welcome-message{
   color: pink;
   margin: 0 5em 0 0;
}
#top-message{
   margin: 1em auto 0;
   font-size: 1.2em;
   color: pink;
}

#main-wrap{
   position: absolute;
   top: 5em;
   bottom: 3em;
   width: 100%;
   overflow-y: scroll;
}
#main-contents{
   margin: 0 auto;
   width: 80%;
}
#topimage{
   width: 30%;
   float: left;
}
#footer {
   bottom: 0;
   height: 3em;
   width: 100%;
}
html>body #footer {
   position: fixed;
   z-index: 10;
}

/* -- ref: http://blog.d-spica.com/entry/070307clearfix.html -- */
.clearfix:after {
   content: ".";  /* 新しい要素を作る */
   display: block;  /* ブロックレベル要素に */
   clear: both;
   height: 0;
   visibility: hidden;
}

.clearfix {
   min-height: 1px;
}

* html .clearfix {
   height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}
/* -- end ref -- */

.clear { clear:both; }
.clear hr { display:none; }


.rand_block{
   float: right;
   margin: 2em auto;
   border: 2px double #6A8AD3;
   padding: 5px 5px 5px 5px;
   width: 40%;
}
.which_qblock{
   margin: 0 auto;
   border: 2px double #6A8AD3;
   padding: 5px;
   width: 40%
}
.which_qblock a{
   font-weight: bold;
}

.cur_page{
   font-weight: bold;
   font-size: 1.5em;
}
.qtable{
   margin: 0 auto;
}
.listtable {
   margin: 0 auto;
}
.listtable *{
   padding: 5px;
}
.qnum{
   cursor: pointer;
}
.qnum:hover{
   background-color: #EECCEE;
}
.question:hover{
   background-color: #EEFFFF;
}
.section {
   font-weight: boild;
   background-color: #77FF77;
}
.controls{
   margin: 8px auto;
   border: 2px dotted #6A8AD3;
   background-color: #FF9999;
   width: 360px;
}
.userinfo dt{
   font-weight: bold;
}
