<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>{% block title%}{% endblock %} - On-tan</title>
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <link rel="stylesheet" type="text/css" href="/media/ontan.css">
  <script type="text/javascript" src="/media/questions.js"></script>
  {% block head %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24328532-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body {% block body_attr %}{% endblock %}>
  <div id="wrap">
    <h2 id="title">On-tan</h2>
    <div class="clear"><hr /></div>
    <div id="topnavi">
      <ul>
	<li><a href="/ontan/">トップ</a></li>
	<li><a>全問題一覧</a>
	  <ul>
	    <li><a href="/ontan/wordquestions/1/">一問一答</a></li>
	    <li><a href="/ontan/fillquestions/1/">穴埋め問題</a></li>
	  </ul>
	</li>
	{% if user.is_authenticated %}
	<li><a href="/ontan/logout/">ログアウト</a></li>
	{% else %}
        <li><a href="/ontan/login/">ログイン</a></li>
	{% endif %}
	<li><a href="/ontan/contact/">お問い合わせ</a></li>
      </ul>
    </div>
    <div class="clear"><hr /></div>
    {% block body %}{% endblock %}
    <div id="footer">
      <hr />
      <p>データ提供：エンジョイ無糖</p>
    </div>
  </div>
</body>
</html>
