{% extends "ontan/base.html" %}

{% block title %}{{ clist.name }}|一問一答{% endblock %}
{% ifequal lang "ja" %}
  {% block body_attr %}onload="change_lang(false, false);"{% endblock %}
{% endifequal %}

{% block body %}
<h2 id="frame-top">{{ clist.name }} / 一問一答<font size="1em"> - Myリスト</font></h2>
<div class="controls">
  <p>
    <select id="lang_select" onchange="change_lang(true, true);">
      <option {% ifequal lang "en" %}selected{% endifequal %}>英語を隠す</option>
      <option {% ifequal lang "ja" %}selected{% endifequal %}>日本語を隠す</option>
    </select>
  </p>
  <p>
    <button type="button" onclick="toggle_qtype();"><h4>穴埋め問題に切り替え</h4></button>
  </p>
</div>

<table class="qtable" border="1" id="questions_table">
  <tbody>
    <tr class="section">
      <td>問題番号<em>(Section)</em></td>
      <td>日本語</td>
      <td>英語</td>
    </tr>
    {% for wq in questions %}
    <tr class="question" id="question{{ wq.number }}">
      <td class="qnum">{{ wq.number }}<em>({{ wq.get_section }})</em></td>
      <td>{{ wq.question }}</td>
      <td style="color:#FFFFFF;">{{ wq.answer }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="controls">
  <p><a href="#frame-top">上へ戻る</a></p>
</div>

{% endblock body %}
