{% extends "ontan/base.html" %}

{% block title %}{{ clist.name }}|穴埋め問題{% endblock %}

{% block body %}
<h2 id="frame-top">{{ clist.name }} / 穴埋め問題<font size="1em"> - Myリスト</font></h2>
<div class="controls">
  <p>
    <button type="button" onclick="toggle_qtype()"><h4>一問一答に切り替え</h4></button>
  </p>
</div>

<table class="qtable" border="1">
  <tbody>
    <tr class="section"><td>問題番号<em>(Section)</em></td><td>問題文</td><td>和訳</td></tr>
    {% for fq, html_list in questions %}
    <tr class="question" id="question{{ fq.number }}">
      <td class="qnum">{{ fq.get_qnum }}<em>({{ fq.get_section }})</em></td>
      <td>
	{% for blank, words in html_list %}
          {% if blank %}
            (<span class="hid_answer" id="blank{{ fq.number }}-{{ forloop.counter0 }}" style="color:#FFFFFF;">{{ words }}</span>)
	  {% else %}
	    {{ words }}
          {% endif %}
	{% endfor %}
      </td>
      <td>{{ fq.japanese }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="controls">
  <p><a href="#frame-top">上へ戻る</a></p>
</div>

{% endblock body %}
