{% extends "ontan/base.html" %}

{% block title %}お問い合わせ{% endblock %}

{% block body %}
<h2>お問い合わせ</h2>
<p>問題の間違いや要望などを募集しています。</p>
<form action="" method="POST">
  <p><label style="color:#FF0000; font-width:bold;" required>名前*：
    <input type="text" name="name" value="{{ user.username }}">
  </label></p>
  <p><label style="font-width:bold;">Emailアドレス：
    <input type="text" name="email" value="{{ user.email }}">
  </label></p>
  <p><label style="font-width:bold;">タイトル：
    <input type="text" name="title" value="無題">
  </label></p>
  <p><label style="color:#FF0000; font-width:bold;">本文*：<br />
    <textarea name="body" cols="35" rows="5" required>
ここに本文
    </textarea>
  </label></p>
  <p><input type="submit" value="送信">
</form>

{% endblock %}
