{% extends "ontan/base.html" %}

{% block title %}全問題一覧of穴埋め問題{% endblock %}

{% block head %}
<script type="text/javascript" src="/media/questions.js"></script>
{% endblock head %}

{% block body %}
<h2 id="title">全問題一覧of穴埋め問題</h2>
<p>
  {% ifnotequal cur_page 1 %}
  <a href="{{ prev_page }}">前へ</a>
  {% endifnotequal %}
  {% for pnum, url in pages %}
  {% ifequal pnum cur_page %}
  <b><a href="{{ url }}">{{ pnum }}</a></b>
  {% else %}
  <a href="{{ url }}">{{ pnum }}</a>
  {% endifequal %}
  {% endfor %}
  {% ifnotequal cur_page max_page %}
  <a href="{{ next_page }}">次へ</a>
  {% endifnotequal %}
</p>
<table border="1">
  <tr><td>問題番号</td><td>問題文</td><td>和訳</td><td>答え</td></tr>
  {% for fq in questions %}
  <tr id="question{{ fq.number }}" onmouseover="show_fill({{ wq.number }});" onmouseout="hide_fill({{ wq.number }});">
    <td>{{ fq.number }}</td>
    <td>
      {% for words in fq.question %}
      {% endfor %}
    </td>
    <td>{{ fq.japanese }}</td>
    <td>{{ fq.answer }}</td>
  </tr>
  {% endfor %}
</table>
<p>
  {% ifnotequal cur_page 1 %}
  <a href="{{ prev_page }}">前へ</a>
  {% endifnotequal %}
  {% for pnum, url in pages %}
  {% ifequal pnum cur_page %}
  <b><a href="{{ url }}">{{ pnum }}</a></b>
  {% else %}
  <a href="{{ url }}">{{ pnum }}</a>
  {% endifequal %}
  {% endfor %}
  {% ifnotequal cur_page max_page %}
  <a href="{{ next_page }}">次へ</a>
  {% endifnotequal %}
</p>
<p><a href="#title">上へ戻る</a></p>
{% endblock body %}
